services:
  db:
    image: postgres:17
    container_name: petshop-postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: petshop_db # Mudou
    ports:
      - "5433:5432"
    networks:
      - petshop-network
  app:
    image: petshop-api
    container_name: petshop-api
    build: .
    ports:
      - "5000:5000" # Mudou
    depends_on: 
      - db
    environment:
      PORT: 5000 # Mudou
      # ... (outras envs)
      JWT_SECRET: c0135ea1abd57dac00093c9403d06b84
      DATABASE_TYPE: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASS: 12345
      DATABASE_NAME: petshop_db # Mudou
    networks:
      - petshop-network

networks:
  petshop-network:
    name: petshop-network
    driver: bridge